html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-style: normal;
  min-height: 100vh;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.toolbar {
  width: 100vw;
  height: auto;
  background-color: #ef5742;
  color: #fff;
  padding: 0.5rem 1rem;
}

.content {
  padding: 2rem 1rem;
}

h4 {
  font-family: Roboto;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 400;
}

h6 {
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
}
